.like-button-red {
  background-color: white;
}

.button-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
}

.reply-button {
  background-color: cadetblue;
}
